.projects {
  max-width: 120rem;
  padding: 5rem 7rem;
  margin: 0 auto;
  text-align: center;
  background-color: var(--secondaryColor);

  @include respond(tab-land) {
    padding: 5rem 5rem;
  }
  @include respond(phone) {
    padding: 5rem 0;
  }
}
