.browser-page-appereance {
  border-right: 1px solid var(--borderColor);
  border-left: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  z-index: 10;
  max-width: 120rem;
  margin: 0 auto;
  border-radius: 5px 5px 0 0;
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}
